pytest~=4.6.9
argparse~=1.4.0
numpy~=1.17.4
matplotlib~=3.1.2
scipy~=1.6.0
pandas~=1.2.1
PyYAML~=5.3.1
six~=1.14.0
setuptools~=51.1.2
rospkg~=1.3.0
python-dateutil~=2.7.3
empy~=3.3.2
netifaces~=0.10.4
psutil~=5.5.1
pyqtgraph~=0.11.1
defusedxml~=0.6.0
pydot~=1.4.1
Pillow~=7.0.0